{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "globalReturn": true,
      "impliedStrict": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "shared-node-browser": true,
    "worker": true
  },
  "rules": {
    "no-mixed-spaces-and-tabs": "error",
    "no-unused-vars": [
      "warn", {
        "args": "none",
        "varsIgnorePattern": "React"
      }
    ],
    "semi": "warn",
    "react/jsx-uses-vars": "warn",
    "no-undef": "off",
    "no-console": "off"
  },
  "plugins": [
    "react"
  ]
}
